b.cBold
{
  font-weight: bold
}
em.cBoldItalics
{
  font-style: italic;
  font-weight: bold
}
code.cCode
{
  font-family: Courier New, Courier, mono
}
code.cCodeBold
{
  font-family: Courier New, Courier, mono;
  font-weight: bold
}
em.cEmphasis
{
  font-style: italic
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
u.cUnderline
{
  text-decoration: underline
}

p.pBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyKeyConcept
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 4%;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4%;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 4%;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4%;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyWarning
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 4%;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4%;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBodyBold
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBodyBullet
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBodyCenter
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: center;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: center;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCodeStep
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownClosed
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownOpen
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pEndTbl
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bolder;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pFigCaption
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading2
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading3
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pHeading4
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading5
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h6.pHeading6
{
  color: #273780;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 7.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 10em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 12.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedNote
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedWarning
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pNumList1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pNumList2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopup
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPopupOnlyAppend
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pProcEnd
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pprocStepResult
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pprocstepSub
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
blockquote.pQuotation
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 2.5em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopicOnly
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSeeAlso
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2Test
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.ptblcaption
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 2pt;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #AA1101;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-right: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTutKeyConcept
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 4%;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4%;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

